@page
@model buygold.Pages.Admin.Categories.DeleteModel

<form method="post" dir="rtl">
	<input hidden asp-for="Category.Id" />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary pl-3">حذف <i class="fa-duotone fa-trash"></i></h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Category.Name"></label>&nbsp;&nbsp;&nbsp;<i class="fa-duotone fa-bowl-food"></i>
			<input asp-for="Category.Name" disabled class="form-control" />
			<span asp-validation-for="Category.Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Category.Author"></label>
			<input asp-for="Category.Author" disabled class="form-control" />
			<span asp-validation-for="Category.Author" class="text-danger"></span>
		</div>
		<button type="submit" class="btn" style="width:150px;"><i class="fa-duotone fa-trash" style="color:red"></i>&nbsp;&nbsp;&nbsp; حذف</button>
		<a asp-page="Index" class="btn" style="width:200px;"><i class="fa-solid fa-arrow-left-long-to-line"></i>&nbsp;&nbsp;&nbsp; بازگشت به لیست</a>
	</div>

</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}